<!DOCTYPE html>
<!-- SGML
 Filename: views/astronauts.erb
 Directory: /Users/abruzzim/Documents/ga_wdi/projects/planets
 Author: Mario Abruzzi
 Date: Thu Dec 26 16:23:41 EST 2013
 Desc: Week 0 - Day 0 - HW
 Notes: 
-->

<html>

  <head>
  </head>

  <body>

    <p>%DEBUG-I-ASTRONAUTS_RB, In views/astronauts.erb</p><br />
    <h2>Astronauts Admin</h2><br />

    <!-- Create a Table that displays all Astronauts -->
    <h3>Table Listing</h3>
    <table class="format">
      <!-- Table Header -->
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
        <% @astronaut_list.each do |astronaut| %>
        <tr>
          <!-- Column 1 -->
          <td>
            <a href=""><%= astronaut.fname %> <%= astronaut.lname %></a>
          </td>
          <!-- Column 2 -->
          <td>
            <a href="">
              <img src="<%= astronaut.imgsrc %>" width="100" alt="<%= astronaut.lname %>" />
            </a>
          </td>
          <!-- Column 3 -->
          <td>
            <form method="GET" action="/astronauts_edit">
              <button type="submit" name="astronaut_id" value="<%= astronaut.id %>">Edit</button>
            </form>
          </td>
          <!-- Column 4 -->
          <td>
            <form method="POST" action="/astronauts_del">
              <button type="submit" name="astronaut_id" value="<%= astronaut.id %>">Delete</button>
            </form>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <% if @orig_astronaut_id %>
      <!-- Edit astronaut form -->
      <h3>Edit</h3>
      <!--div-->
        <form method="POST" action="/astronauts_edit">
          <fieldset>
            <legend><span>Edit Astronaut</span></legend>
            <!-- Set astronaut ID. -->
            <input  id="EDIT-astro-id" 
                    type="hidden" 
                    name="upd_astronaut_id" 
                    value="<%= @orig_astronaut_id %>">
            <!-- Get first name. -->
            <label for="EDIT-astro-fname">First Name: </label>
            <input  id="EDIT-astro-fname" 
                    type="text" 
                    name="upd_astronaut_fname" 
                    value="<%= @orig_astronaut_fname %>" 
                    placeholder="<%= @orig_astronaut_fname %>">
            <!-- Get last name. -->
            <label for="EDIT-astro-lname">Last Name: </label>
            <input  id="EDIT-astro-lname" 
                    type="text" 
                    name="upd_astronaut_lname" 
                    value="<%= @orig_astronaut_lname %>" 
                    placeholder="<%= @orig_astronaut_lname %>">
            <!-- Get image URL. -->
            <label for="EDIT-astro-imgsrc">Image URL: </label>
            <input  id="EDIT-astro-imgsrc" 
                    type="text" 
                    name="upd_astronaut_imgsrc" 
                    value="<%= @orig_astronaut_imgsrc %>" 
                    placeholder="<%= @orig_astronaut_imgsrc %>">
            <!-- Submit form data to controller. -->
            <button type="submit" formmethod="POST" formaction="/astronauts_edit">Update</button>
            <button type="button"><a href="/" style="text-decoration: none;">Cancel</a></button>
          </fieldset>
        </form>
      <!--/div-->
    <% else %>
      <!-- Add astronaut form -->
      <h3>Add</h3>
      <!--div-->
        <form method="POST" action="/astronauts_add">
          <fieldset>
            <legend><span>Add Astronaut</span></legend>
            <label for="ADD-first-name">First Name: </label>
            <input id="ADD-first-name" type="text" name="fname" placeholder="First Name">
            <label for="ADD-last-name">Last Name: </label>
            <input id="ADD-last-name" type="text" name="lname" placeholder="Last Name">
            <label for="ADD-img-src">Image URL: </label>
            <input id="ADD-img-src" type="text" name="imgsrc" placeholder="Image URL">
            <button type="submit" formmethod="POST" formaction="/astronauts_add">Add</button>
          </fieldset>
        </form>
      <!--/div-->
    <% end %>

  </body>

</html>
